*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  /* background-color: gray; */
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #1d0000, #20205b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 300px;
  height: 250px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.left, .right {
  /* width: 50%; */
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  gap: 5px;
}

.left p {
  color: #f4351e;
}

.right {
  width: 42%;
  background: #f4351e;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.date {
  font-size: 80px;
  line-height: 90px;
}

@media (max-width: 768px) {
  .date {
    font-size: 60px;
    line-height: 60px;
  }

  .calendar {
  width: 300px;
  height: 180px;
  }
}

/* .title {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
} */